<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			{{t 'app_name'}}
			<FaIcon @icon="star" />
		</a>
	</div>
</nav>
{{yield}}